* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  /*font-family: 'Barlow Semi Condensed', sans-serif;*/
  font-family: 'Inter', sans-serif;
  max-width: 1440px;
  margin: auto;
  padding: 2%;
}

p {
  margin: 0;
  color: #a7a7a7;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.main-wrapper {
  width: 100%;
  max-width: 1440px;
  background-color: rgba(128, 128, 128, 0.297);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  max-width: 1000px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #fffdfa;
  padding: 3%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  margin: 0;
}

nav {
  display: flex;
  justify-content: end;
}

nav li {
  display: inline;
  margin: 0;
  padding-left: 16px;
}

nav a {
  color: #a7a7a7;
  font-weight: 10;
  font-size: 1rem;
  text-decoration: none;
  padding-inline-start: 10px;
}

nav a:hover {
  color: blue;
}

nav a:active {
  color: red;
}

.top {
  display: grid;
  grid-template-columns: repeat(3, minmax(60%, 1fr));
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
  max-width: 980px;
  gap: 3%;
}

.top-right img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 3%;
  object-fit: contain;
}

.top-right-sub-right h1 {
  width: 210px;
  height: 120px;
}

h1 {
  border: 1px solid #000000;
  font-weight: 900;
  font-size: 4rem;
  line-height: 3rem;
  line-height: 95%;
  word-break: break-all;
}

.top-right-sub-left {
  border: 1px solid red;
  width: 200x;
  word-break: break-all;
}

.top-right-text {
  width: 550px;
  display: flex;
  /*align-content: flex-start;*/
  /*justify-content: space-between;*/
}

button {
  padding: 5px;
  font-size: 8px;
  color: white;
  text-transform: uppercase;
  background-color: hsl(5, 85%, 63%);
  width: 160px;
  height: 40px;
  letter-spacing: 1pt;
  font-weight: 700;
  border: hidden;
  margin-top: 20px;
}

.btn :hover {
  background-color: hsl(5, 80%, 72%);
}

.top-left {
  border: 1px solid #00001a;
  padding: 20px;
  background-color: #00001a;
  width: 300px;
}

  hr {
    height: 1px;
    background-color: rgba(128, 128, 128, 0.395);
    border: none;
    margin-top: 15px;
  }  
    

h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #e9ab53;
  font-size: 3rem;
}

h3 {
  color: #fffdfa;
  font-size: 2rem;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 0;
}

.bottom {
  display: grid;
  grid-template-columns: 320px 320px 320px;
  width: 100%;
  max-width: 980px;
}

.news {
  display: flex;
  width: 100%;
}

a {
  text-decoration: wavy;
}

.news img {
  width: 90px;
  object-fit: contain;
  align-items: center;
  padding-top: 5px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 4%;
  padding-right: 4%;
}

.num-fig {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1px;
  color: #c9c9c9;
}

.first-text {
  color:  hsl(240, 100%, 5%);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 3% 0 3%;
}

@media (max-width: 768px) {
  html {
    font-size: 56%;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .top-right img {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
  }

  .top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 20px 0;
  }

  .bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

@media (max-width: 654px) {
  .top {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .top-right img {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
  }

  .bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .news {
    padding: 10px 0 10px 0;
    width: 95%;
  }
}

