* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  /*font-family: 'Barlow Semi Condensed', sans-serif;*/
  font-family: 'Inter', sans-serif;
  max-width: 1440px;
  margin: auto;
  padding: 2%;
}

p {
  margin: 0;
  color: #a7a7a7;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.main-wrapper {
  width: 100%;
  max-width: 1440px;
  background-color: rgba(128, 128, 128, 0.297);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  max-width: 1000px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #fffdfa;
  padding: 2%;
}

.header {
  display: flex;
  flex-direction: row;
  /*justify-content: space-evenly;*/
  align-items: center;
  /*width: 100%;*/
  padding-top: 20px;
  gap: 475px;
  margin-left: 35px;
}

nav {
  display: flex;
}

nav li {
  display: inline
}

nav a {
  color: #a7a7a7;
  font-weight: 10;
  font-size: 1rem;
  text-decoration: none;
  justify-content: center;
  margin-inline-end: 32px;
}

nav a:hover {
  color: blue;
}

nav a:active {
  color: red;
}

.top {
  display: grid;
  grid-template-columns: repeat(3, minmax(60%, 1fr));
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
  max-width: 980px;
  height: 570px;
  gap: 0.1%;
  margin-left: 35px;
}

.top-right img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 3%;
  object-fit: contain;
}

.top-right-sub-right h1 {
  width: 210px;
  height: 120px;
}

h1 {
  /*border: 1px solid #000000;*/
  font-weight: 900;
  font-size: 4rem;
  line-height: 3rem;
  line-height: 95%;
  word-break: break-all;
}

.top-right-sub-left {
  /*border: 1px solid red;*/
  width: 265px;
  margin-left: 110px;
  /*word-break: break-all;*/
}

.top-right-text {
  width: 550px;
  display: flex;
  /*align-content: flex-start;*/
  /*justify-content: space-between;*/
}

button {
  padding: 5px;
  font-size: 8px;
  color: white;
  text-transform: uppercase;
  background-color: hsl(5, 85%, 63%);
  width: 160px;
  height: 40px;
  letter-spacing: 1pt;
  font-weight: 700;
  border: hidden;
  margin-top: 30px;
  margin-left: 0px;
}

.btn :hover {
  background-color: hsl(5, 80%, 72%);
}

.top-left {
  border: 1px solid #00001a;
  padding: 10px;
  background-color: #00001a;
  width: 260px;
  height: 350px;
  margin-left: 60px;
}

  hr {
    height: 1px;
    background-color: rgba(128, 128, 128, 0.395);
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
  }  
    

h2 {
  padding-top: 0px;
  padding-bottom: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #e9ab53;
  font-size: 2.5rem;
}

h3 {
  color: #fffdfa;
  font-size: 1rem;
  padding-top: 2px;
  padding-bottom: 2.5px;
  margin-top: 15px;
  margin-bottom: 7.5px;
}

.bottom {
  display: grid;
  grid-template-columns: 320px 320px 320px;
  width: 100%;
  max-width: 980px;
  margin-top: -120px;
  margin-left: 35px;
}

.news {
  display: flex;
  width: 100%;
}

a {
  text-decoration: wavy;
}

.news img {
  width: 90px;
  object-fit: contain;
  align-items: center;
  padding-top: 5px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 4%;
  padding-right: 4%;
}

.num-fig {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1px;
  color: #c9c9c9;
}

.first-text {
  color:  hsl(240, 100%, 5%);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 3% 0 3%;
}

@media only screen 
and (max-width: 480px) {
  .top {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  .top-right-text {
    display: flex;
    flex-direction: column;
  }

  .top-right-sub-left,
  .top-left {
    margin-left: 0;
  }

  .top-left {
    margin-bottom: 30px;
  }

  button {
    margin-top: 15px;
    margin-bottom: 35px;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 0;
    height: 900px;
  }
}